<div class="row">
  <div class="span12">
    <div class="content">
      <section class="span12">
        <article>
          <h2> Ultimi Annunci </h2>
          <ul id="jobs">
           <%= render @jobs %>
          </ul>
        </article>
      </section>
    </div>
  </div>
</div>